@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~angular-calendar/scss/angular-calendar.scss';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cal-month-view .cal-header .cal-cell {
  text-transform: uppercase;
  padding: 10px 0;
}

.cal-event-action > .material-icons {
  color: white;
}

button {
  text-transform: uppercase;
}

::ng-deep .mat-tooltip {
  font-size: 1rem !important;
  padding: 12px !important;
  max-width: none !important;
}

.calendar-theme {
  @include cal-theme(
      (
        badge-color: #556df2,
        weekend-color: #556df2,
        today-bg: #f2f5ff
      )
  );
}
