.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.p-15 {
  padding: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 10px;
}

::ng-deep .mat-tooltip {
  font-size: 1rem;
  padding: 12px !important;
  max-width: none !important;
}
