<div class="row calendar-header">
  <div class="btn-group col-md-4 text-left">
    <button role="button"
            class="btn"
            mat-raised-button color="primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange()">
      {{ 'buttons.previous' | translate | capitalize }}
    </button>
  </div>
  <div class="col-md-4 text-center">
    <h3>{{ monthName }}</h3>
  </div>
  <div class="btn-group col-md-4 text-right">
    <button role="button"
            class="btn"
            mat-raised-button color="primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange()">
      {{ 'buttons.next' | translate | capitalize }}
    </button>
  </div>
</div>

<mwl-calendar-month-view [refresh]="refresh"
                         [viewDate]="viewDate"
                         [events]="events"
                         [locale]="locale"
                         [activeDayIsOpen]="activeDayIsOpen"
                         (dayClicked)="dayClicked($event.day)"
                         (eventTimesChanged)="eventTimeChanged($event)"
                         [weekStartsOn]="weekStartsOn">
</mwl-calendar-month-view>

<button role="button" mat-raised-button color="primary"
        [routerLink]="['add']">
  {{ 'buttons.add'| translate | capitalize }}
</button>
