<div class="row calendar-header mb-3 mt-1">
  <div class="btn-group col-md-4 text-left">
    <button role="button"
            class="btn"
            mat-raised-button color="primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange()">
      {{ 'buttons.previous' | translate | capitalize }}
    </button>
  </div>
  <div class="col-md-4 text-center m-auto">
    <h2 class="text-uppercase font-weight-bold m-0">
      {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
    </h2>
  </div>
  <div class="btn-group col-md-4 text-right">
    <button role="button"
            class="btn"
            mat-raised-button color="primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange()">
      {{ 'buttons.next' | translate | capitalize }}
    </button>
  </div>
</div>

<mwl-calendar-month-view [refresh]="refresh"
                         [viewDate]="viewDate"
                         [events]="events"
                         [locale]="locale"
                         [activeDayIsOpen]="activeDayIsOpen"
                         (dayClicked)="dayClicked($event.day)"
                         (eventTimesChanged)="eventTimeChanged($event)"
                         [weekStartsOn]="weekStartsOn">
</mwl-calendar-month-view>

<button class="mt-3" role="button" mat-raised-button color="primary" [routerLink]="['add']">
  {{ 'buttons.addGlobal'| translate | capitalize }}
</button>
