<ng-container [formGroup]="form" *ngIf="groupName; else simpleForm">
  <mat-form-field [formGroupName]="groupName" [class]="cssClass">
    <input matInput type="text" [formControlName]="controlName" [format]="24" [ngxTimepicker]="picker"
           [placeholder]="placeholder" [required]="required" [name]="placeholder" readonly>
    <ngx-material-timepicker [enableKeyboardInput]="false" [ngxMaterialTimepickerTheme]="ngoTheme"
                             [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" #picker></ngx-material-timepicker>
    <ng-template #cancelBtn>
      <button role="button" mat-button class="button__left"> {{ 'buttons.close' | translate | uppercase }} </button>
    </ng-template>
    <ng-template #confirmBtn>
      <button role="button" mat-raised-button color="primary"> {{ 'buttons.choose' | translate | uppercase }} </button>
    </ng-template>
  </mat-form-field>

</ng-container>

<ng-template #simpleForm>
  <mat-form-field [formGroup]="form" [class]="cssClass">
    <input matInput type="text" [formControlName]="controlName" [format]="24" [ngxTimepicker]="picker"
           [placeholder]="placeholder" [required]="required" [name]="placeholder" readonly>
    <ngx-material-timepicker [enableKeyboardInput]="false" [ngxMaterialTimepickerTheme]="ngoTheme"
                             [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" #picker></ngx-material-timepicker>
    <ng-template #cancelBtn>
      <button role="button" mat-button class="button__left"> {{ 'buttons.close' | translate | uppercase }} </button>
    </ng-template>
    <ng-template #confirmBtn>
      <button role="button" mat-raised-button color="primary"> {{ 'buttons.choose' | translate | uppercase }} </button>
    </ng-template>
  </mat-form-field>

</ng-template>
