<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }'
       [title]="'common.logout' | translate | capitalize">
      {{ 'common.logout' | translate | capitalize }}</a>
  </li>
  <li class="nav-item m-auto d-none d-md-flex">
    <mat-icon class="cursor-default" role="tooltip"
              [matTooltip]="'messages.profileInfo' | translate: {username: (userName | async)}">
      account_circle
    </mat-icon>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
    <a class="nav-link text-dark"
       [routerLink]='["/authentication/register"]'>{{ 'common.register' | translate | capitalize }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark"
       [routerLink]='["/authentication/login"]'>{{ 'common.login' | translate | capitalize }}</a>
  </li>
</ul>
