.field {
  width: 100% !important;
  position: relative;
  padding: 0;
}

.error__message {
  font-size: 12px;
  color: red;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.input-tooltip-icon {
  position: absolute;
  right: 10px;
  bottom: 2px;
}

.mat-icon {
  font-size: 24px;
}

input[readonly] {
  cursor: not-allowed;
}
